.idea
dataset
images_to_aug
responses
results
runs
uploads
venv
yolo_dataset
DJI_0130.MP4
server.py
test_images.py
test_video.py
train.py
whale_detector.ipynb
whales.yaml
yolo11n.pt
yolo_dataset.ipynb
yolov8s-seg.pt